.venv/
.pytest_cache/
__pycache__/
*.py[cod]

config/.env

logs/
db/
storage/raw/
storage/processed/
storage/images/
storage/*.db
Books.csv

airflow.cfg
airflow.db
airflow.db-journal
airflow-webserver.pid
